@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --text-color-wh: #FFFFFF;
  --text-color-bk: #000000;
  --text-color-gy: #333333;
  --text-color-transparent: #ffffff4d;      /*цвет с прозрачностью 0,3 из rgba сконвертировал в rgbacolorpicker - норм?*/
  --background-color-wh: #ffffff;
  --background-color-bl: #82B3D3;
  --background-color-bl-add: #83B3D3;
  --background-color-bl-hov-foc: #68A2CA;
  --background-color-br: #756157;
  --background-color-br-hov-foc: #615048;
  --background-color-gr: #7DB54F;
  --background-color-gy-add: #E5E5E5;
  --background-color-gy: #f2f2f2;
  --line-color-br: #756257;
  --line-color-gr: #E6E6E6;
  --logo-color-transparent-bl: #68a2ca4d; /*цвет с прозрачностью 0,3 из rgba сконвертировал в rgbacolorpicker - норм?*/
  --logo-color-transparent-br: #7561574d;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--background-color-wh);
  color: var(--text-color-bk);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header,
.page-index,
.page-footer {
  text-align: center;
}

.page-catalog {
  color: var(--text-color-wh);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  max-height: 65px;     /* без этой строки высота хедера была 74px, не могу понять почему, в т.ч. почему именно 74px*/
}

.header-sedona-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  z-index: 1;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 490px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: var(--line-color-br);
  content: "";
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: var(--text-color-bk);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  margin-right: 10px;
}

.footer-social {
  display: flex;
  margin: 0 auto;
  padding: 45px 70px 35px 80px;
  align-items: center;   /*лого не выравнивается*/
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-item {
                 /* display: block; */
  /* width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-right: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: green; */
}

.footer-social-link {
  position: relative;
  display: block;
  /* background-color: #000000; */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 17px; */
  min-width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 18px 10px;
  margin-right: 3px;
  /*margin-top: 8px;
  margin-bottom: 8px; */
  /* background-color: green; */
}

.footer-social-link {
  fill: var(--background-color-bl-add);
}

.footer-social-link:hover {
  fill: var(--background-color-bl-hov-foc);
}

.footer-social-link:focus {
  fill: var(--background-color-bl-hov-foc);
}

.footer-social-link:active {
  fill: var(--logo-color-transparent-bl);
}

.youtube-button {
  margin-right: 0;    /*через nth-child/nth-of-type не вышло обнулить*/
}

.social {
  width: 142px;
  margin: 0;
  margin-right: 237px;
}

.footer-html-academy-logo {
  position: relative;
  display: block;
  width: 115px;
  margin-left: auto;
}

.footer-html-academy-logo:hover {
  fill: var(--background-color-br);
}

.footer-html-academy-logo:focus {
  fill: var(--background-color-br);
}

.footer-html-academy-logo:active {
  fill: var(--logo-color-transparent-br);
}

.page-index {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-logo {
  margin-top: 50px;
  margin-bottom: 83px;
}

.reasons {
  margin: 0;
  margin-top: -63px;
  padding: 63px 270px 90px;
}

.reasons::before {
  display: block;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  left:-270px;          /*при масштабировании (при некоторых значениях масштаба) появляется горизонтальная */
  margin-top: -57px;    /*или вертикальная полоса*/
}

.heading-2-black {
  color: var(--text-color-bk);
  background-color: var(--background-color-wh);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 30px;
}

.heading-2-description-black {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  color: var(--text-color-gy);
}

.heading-2-description-black-footer{
  margin-bottom: 46px;
}

.heading-2-description-bottom {
  margin-bottom: 56px;
}

.advantages {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  display: block;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-first,
.advantages-item-second {
  background-color: var(--background-color-bl);
  padding-top: 92px;
}

.advantage-photo img,
.welcome-logo {
  vertical-align: middle;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item-housing {
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
  background-position-x: 163px;
  background-position-y: 80px;
  padding-top: 182px;
  background-repeat: no-repeat;
}

.advantages-item-food {
  background-color: var(--background-color-wh);
  background-image: url("../images/food.svg");
  background-size: 74px 70px;
  background-position-x: 163px;
  background-position-y: 80px;
  background-repeat: no-repeat;
  padding-top: 182px;
}

.advantages-item-gift {
  background-image: url("../images/gift.svg");
  background-size: 64px 76px;
  background-position-x: 168px;
  background-position-y: 78px;
  background-repeat: no-repeat;
  padding-top: 182px;
}

.advantages-title-white {
  color: var(--text-color-wh);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-order-white,
.advantages-description-white {
  color: var(--text-color-wh);
}

.advantages-order {
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-white,
.advantages-description-black {
  margin: 0;
}

.advantages-description-black {
  color: var(--text-color-gy);
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.searching {
  margin: 0;
  padding: 92px 313px;
}

.subscribe-main {
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--background-color-bl);
}

.subscribe {
  margin: 0;
  padding: 94px 200px;
}

.subscribe-form {
  display: flex;
}

.field {
  width: 600px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 0;
  background-color: var(--background-color-gy);
}

.heading-2-white {
  /* background-color: var(--background-color-bl); */
  color: var(--text-color-wh);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.heading-2-description-white {
  /* background-color: var(--background-color-bl); */
  color: var(--text-color-wh);
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.button {
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.header-search-button {
  border: none;
  background-color: var(--background-color-wh);
}

.heart-circle::after {
  content: "12";
  color: var(--text-color-wh);
  font-weight: 400;
  font-size: 10px;
  line-height: 20px; /*значение не по макету (13px) зато текст встал по центру. Подобрал наугад, наверное, это не очень хорошо?)*/
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 15px;
}

.search-button {
  background-color: var(--background-color-br);
  color: var(--text-color-wh);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 160px;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: var(--background-color-br-hov-foc);
}

.search-button:focus {
  background-color: var(--background-color-br-hov-foc);
}

.search-button:active {
  background-color: var(--background-color-br);
  color: var(--text-color-transparent)
}

.search-button-bottom {
  display: block;
  width: 574px;
  height: 60px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

button:disabled {
  color: var(--background-color-gy-add);
}

.subscribe-button {
  color: var(--text-color-wh);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: var(--background-color-bl);
  width: 200px;
  height: 60px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subscribe-button:hover {
  background-color: var(--background-color-bl-hov-foc);
}

.subscribe-button:focus {
  background-color: var(--background-color-bl-hov-foc);
}

.subscribe-button:active {
  background-color: var(--background-color-bl);
  color: var(--text-color-transparent)
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--background-color-bl);
  margin: 0;
  padding: 35px 70px 70px;
}

.catalog-header-title {
  /* background-color: var(--background-color-bl); */
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  /* background-color: var(--background-color-bl); */
  color: var(--text-color-wh);
  font-size: 16px;
  margin-right: 25px;
}

.breadcrumbs-item {
  position: relative;
}

.main-link::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  top: 25%;
  left: 22px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
}

.infrastructure {
  width: 150px;
  height: 150px;
  margin: 0px;
  margin-right: 70px;
}

.housing-type {
  width: 145px;
  height: 150px;
  margin: 0px;
  margin-right: 175px;
}

.cost {
  width: 288px;
  height: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  /* background-color: var(--background-color-bl); */
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.title-cost {
  margin-bottom: 34px;
}

.catalog-filter-list {
  /* background-color: var(--background-color-bl); */
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  /* background-color: var(--background-color-bl); 29.06*/
  background-color: #82B3D3;/*29.06*/
  margin-bottom: 20px;
  padding: 14px 15px;/*29.06*/
  box-sizing: border-box;/*29.06*/
  min-width: 160px;/*29.06*/
  border: none;/*29.06*/
  border-radius: 4px;/*29.06*/
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68A2CA;/*29.06*/
}

.apply-button:active {
  background-color: #82B3D3;/*29.06*/
  color: var(--text-color-transparent);
}

.button-nonecase {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  margin: 0 auto;
  /* background-color: var(--background-color-bl); */
  background-color: transparent; /* 29.06 */
  border: none;/*29.06*/
  text-transform: capitalize;/*29.06*/
}

.button-nonecase:hover {

  color: rgba(255, 255, 255, 0.6);/*29.06*/
}

.button-nonecase:focus {
  color:#ffffff;/*29.06*/
  border: 3px solid #83B3D3;/*29.06*/
}

.button-nonecase:active {
  color: var(--text-color-transparent);
}

.filter-buttons {
  margin: 60px auto 20px;
  align-self: center;/*29.06*/
}

.results-header {
  display: flex;
  padding: 55px 72px 56px;
}

.result {
  width: 350px;
  margin: 0;
  margin-right: 191px;
}

.select-control {
  width: 290px;
  margin-right: 78px;
}

.results-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-view-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-active {
  border-color: var(--text-color-bk);
}

.results-view-item:hover,
.results-view-item:active {
  border: 2px solid #000000;
}

.results-view-item:focus {
  border: 2px solid #68A2CA;
}

.results-icon {
  padding: 17px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1056px;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
  margin-bottom: 96px;
  column-gap: 18px;
}

.hotel-card {
  display: grid;
  grid-template-rows: 211px min-content 21px 37px 37px;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  color: var(--text-color-bk);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-type,
.hotel-card-details-button {
  grid-column: 1 / 2;
}

.hotel-card-stars {
  grid-column: 1 / 2;
  color: var(--background-color-bl-add);
  display: table-cell;
  align-self: center;
}

.hotel-card-price,
.hotel-card-favorite-button,
.hotel-card-selected-button,
.hotel-card-rating {
  grid-column: 2 / 3;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--background-color-gy);
  padding: 9px 22px;/*29.06*/
  border: none;/*29.06*/
  border-radius: 4px;/*29.06*/
}

.hotel-card-type,
.hotel-card-price,
.hotel-card-rating {
  color: var(--text-color-gy);
}

.hotel-card-details-button,
.hotel-card-favorite-button,
.hotel-card-selected-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.hotel-card-details-button {
  background-color: var(--background-color-br);
  padding: 9px 15px;/*29.06*/
  border: none;/*29.06*/
  border-radius: 4px;/*29.06*/
}

.hotel-card-favorite-button {
  background-color: var(--background-color-bl);
  border-radius: 4px;/*29.06*/
  padding: 9px 15px;
}

.hotel-card-details-button {
  background-color: #756157;/*29.06*/
}

.hotel-card-details-button:hover,
.hotel-card-details-button:focus {
  background-color: #615048;/*29.06*/
}

.hotel-card-details-button:active {
  background-color: #756157;
  color: var(--text-color-transparent);
}

.hotel-card-details-button:disabled {
  background-color: #E5E5E5;/*29.06*/
}

.hotel-card-favorite-button:hover,
.hotel-card-favorite-button:focus {
  background-color: #68A2CA;/*29.06*/
}

.hotel-card-favorite-button:active {
  background-color: #82B3D3;/*29.06*/
  color: var(--text-color-transparent);
}

.hotel-card-favorite-button:disabled {
  background-color: #E5E5E5;/*29.06*/
}

.hotel-card-selected-button {
  background-color: var(--background-color-gr);
  border-radius: 4px;/*29.06*/
  padding: 9px 15px;/*29.06*/
}

.hotel-card-selected-button:hover,
.hotel-card-selected-button:focus {
  background-color: #6C9E42;
}

.hotel-card-selected-button:active {
  background-color: #7DB54F;
  color: var(--text-color-transparent);
}

.results-footer {
  position: relative;
  display: flex;
  padding: 0px 72px 25px;
  align-items: center;
  justify-content: space-between;
}

.pagination::before {
  position:absolute;
  content: "";
  bottom: 0;
  top: -50%;
  height: 1px;
  width: 1057px;
  background-color: var(--line-color-gr);
}

.pagination {
  display: flex;
  width: 400px;
  /* margin-right: 270px; */
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
  text-decoration: none;
  background-color: #82B3D3;/*29.06*/
  border-radius: 4px;/*29.06*/
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;/*29.06*/
  border: 1px solid red;/*29.06*/ /*неведомая хрень - focus - (перемещение табом?) в инспекторе focus красный, в браузере - черный, и черная рамка на focus-visible*/
}

.pagination-link:active {
  background-color: #82B3D3;/*29.06*/
  border-color: #82B3D3;/*29.06*/
  color: var(--text-color-transparent);
}

.pagination-item:first-child .pagination-link {
  color: var(--text-color-bk);
  background-color: var(--background-color-gy);
}

.pagination-item:nth-child(5) .pagination-link {
  padding-left: 21px;
}

.pagination-item:last-child .pagination-link {
  padding-left: 18px;
}

.select-hotel-quantity {
  margin-left: 50px;
  padding: 14px 130px 14px 20px;
}

.hotel-quantity-text {
  color: var(--text-color-gy);
  /* margin-right: 35px; */
}

.footer-phone {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  display: block;
}

.footer-phone:hover {
  color: var(--background-color-br);
}

.footer-phone:focus {
  color: var(--background-color-br);
}

.footer-phone:active {
  color: var(--logo-color-transparent-br);
}

.vk-button,
.telegram-button,
.youtube-button {
  color: var(--text-color-bk);
}
