@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-white:#FFFFFF;
  --color-white-ffffff99: #ffffff99;
  --color-white-ffffff4d: #ffffff4d;
  --color-black: #000000;
  --color-black-333333: #333333;
  --color-blue-82B3D3: #82B3D3;
  --color-blue-83B3D3: #83B3D3;
  --color-blue-81B3D2: #81B3D2;
  --color-blue-68A2CA: #68A2CA;
  --color-blue-68a2ca4d: #68a2ca4d;
  --color-blue-3F5E72: #3F5E72;
  --color-brown-756157: #756157;
  --color-brown-7561574d: #7561574d;
  --color-brown-615048: #615048;
  --color-brown-756257: #756257;
  --color-green-7DB54F: #7DB54F;
  --color-green-6C9E42: #6C9E42;
  --color-gray-E5E5E5: #E5E5E5;
  --color-gray-f2f2f2: #f2f2f2;
  --color-gray-f2f2f2cc: #f2f2f2cc;
  --color-gray-00000026: #00000026;
  --color-gray-0000004d: #0000004d;
  --color-gray-E6E6E6: #E6E6E6;
  --color-red-FF5757: #FF5757;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header,
.page-index,
.page-footer {
  text-align: center;
}

.page-catalog {
  color: var(--color-white);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  max-height: 65px;
}

.header-sedona-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  z-index: 1;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 490px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: var(--color-brown-756257);
  content: "";
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: var(--color-black);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  margin-right: 10px;
}

.footer-social {
  display: flex;
  margin: 0 auto;
  padding: 45px 70px 35px 80px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 18px 10px;
  margin-right: 3px;
}

.footer-social-link {
  fill: var(--color-blue-83B3D3);
}

.footer-social-link:hover {
  fill: var(--color-blue-68A2CA);
}

.footer-social-link:focus {
  fill: var(--color-blue-68A2CA);
}

.footer-social-link:active {
  fill: var(--color-blue-68a2ca4d);
}

.youtube-button {
  margin-right: 0;
}

.social {
  width: 142px;
  margin: 0;
  margin-right: 237px;
}

.footer-html-academy-logo {
  display: block;
  width: 115px;
  margin-top: 9px;
  margin-left: auto;
}

.footer-html-academy-logo:hover {
  fill: var(--color-brown-756157);
}

.footer-html-academy-logo:focus {
  fill: var(--color-brown-756157);
}

.footer-html-academy-logo:active {
  fill: var(--color-brown-7561574d);
}

.page-index {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-logo {
  margin-top: 50px;
  margin-bottom: 83px;
}

.reasons {
  margin: 0;
  margin-top: -63px;
  padding: 63px 270px 90px;
}

.reasons::before {
  display: block;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  left:-270px;
  margin-top: -57px;
}

.heading-2-black {
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 30px;
}

.heading-2-description-black {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  color: var(--color-black-333333);
}

.heading-2-description-black-footer{
  margin-bottom: 46px;
}

.heading-2-description-bottom {
  margin-bottom: 56px;
}

.advantages {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  display: block;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-first,
.advantages-item-second {
  background-color: var(--color-blue-82B3D3);
  padding-top: 92px;
}

.advantage-photo img,
.welcome-logo {
  vertical-align: middle;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item-housing {
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
  background-position-x: 163px;
  background-position-y: 80px;
  padding-top: 182px;
  background-repeat: no-repeat;
}

.advantages-item-food {
  background-color: var(--color-white);
  background-image: url("../images/food.svg");
  background-size: 74px 70px;
  background-position-x: 163px;
  background-position-y: 80px;
  background-repeat: no-repeat;
  padding-top: 182px;
}

.advantages-item-gift {
  background-image: url("../images/gift.svg");
  background-size: 64px 76px;
  background-position-x: 168px;
  background-position-y: 78px;
  background-repeat: no-repeat;
  padding-top: 182px;
}

.advantages-title-white {
  color: var(--color-white);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-order-white,
.advantages-description-white {
  color: var(--color-white);
}

.advantages-order {
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-white,
.advantages-description-black {
  margin: 0;
}

.advantages-description-black {
  color: var(--color-black-333333);
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.searching {
  margin: 0;
  padding: 92px 313px;
}

.subscribe-main {
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--color-blue-82B3D3);
}

.subscribe {
  margin: 0;
  padding: 94px 200px;
}

.subscribe-form {
  display: flex;
}

.field {
  width: 600px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 0;
  background-color: var(--color-gray-f2f2f2);
}

.heading-2-white {
  color: var(--color-white);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.heading-2-description-white {
  color: var(--color-white);
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.button {
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.header-search-button {
  border: none;
  background-color: var(--color-white);
}

.heart-circle::after {
  content: "12";
  color: var(--color-white);
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--color-green-7DB54F);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 15px;
}

.search-button {
  background-color: var(--color-brown-756157);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 160px;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: var(--color-brown-615048);
}

.search-button:focus {
  background-color: var(--color-brown-615048);
}

.search-button:active {
  background-color: var(--color-brown-756157);
  color: var(--color-white-ffffff4d)
}

.search-button-bottom {
  display: block;
  width: 574px;
  height: 60px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

button:disabled {
  color: var(--color-gray-E5E5E5);
}

.subscribe-button {
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-blue-82B3D3);
  width: 200px;
  height: 60px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subscribe-button:hover {
  background-color: var(--color-blue-68A2CA);
}

.subscribe-button:focus {
  background-color: var(--color-blue-68A2CA);
}

.subscribe-button:active {
  background-color: var(--color-blue-82B3D3);
  color: var(--color-white-ffffff4d)
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--color-blue-82B3D3);
  margin: 0;
  padding: 35px 70px 70px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: var(--color-white);
  font-size: 16px;
  margin-right: 25px;
}

.breadcrumbs-item {
  position: relative;
}

.main-link::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  top: 25%;
  left: 22px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-white);
}

.control:hover .control-mark {
  background-color: var(--color-white-ffffff99);
}

.control:focus .control-mark  {
  outline: 3px solid var(--color-blue-83B3D3);
}

.control:active .control-mark {
  background-color: var(--color-white-ffffff4d);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(/images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-blue-3F5E72);
  border-radius: 50%;
  content: "";
}

.infrastructure {
  width: 150px;
  height: 150px;
  margin: 0px;
  margin-right: 70px;
}

.housing-type {
  width: 145px;
  height: 150px;
  margin: 0px;
  margin-right: 175px;
}

.cost {
  width: 288px;
  height: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.title-cost {
  margin-bottom: 34px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.cost-fields {
  display: flex;
  padding: 0;
  margin-bottom: 32px;
}

.cost-input {
  box-sizing: border-box;
  width: 144px;
  border: 2px solid var(--color-white);
  background-color: transparent;
  border-radius: 0;
  padding: 14px 19px 11px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
}

.cost-input::-webkit-inner-spin-button,
.cost-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.cost-label:first-child .cost-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cost-label:last-child .cost-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -2px;
}

.cost-input:hover {
  border-color: var(--color-white-ffffff99);
}

.cost-input:focus {
  border-color: var(--color-blue-81B3D2);
  outline: 1px solid white;
  box-shadow: 0px 0px 0px 3px var(--color-blue-81B3D2);
}

.cost-input:focus:not(:placeholder-shown) {
  background-color: var(--color-brown-756257);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: var(--color-white-ffffff4d);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-white);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.range-toggle:hover {
  background-color: var(--color-white);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  top: -10px;
}

.toggle-max {
  top: -10px;
  right: -20px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: var(--color-blue-82B3D3);
  margin-bottom: 20px;
  padding: 14px 15px;
  box-sizing: border-box;
  min-width: 160px;
  border: none;
  border-radius: 4px;
}

.apply-button:hover,
.apply-button:focus {
  background-color: var(--color-blue-68A2CA);
}

.apply-button:active {
  background-color: var(--color-blue-82B3D3);
  color: var(--color-white-ffffff4d);
}

.button-nonecase {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}

.button-nonecase:hover {
  color: var(--color-white-ffffff99);
}

.button-nonecase:focus {
  border: 3px solid var(--color-blue-83B3D3);
}

.button-nonecase:active {
  color: var(--color-white-ffffff4d);
}

.breadcrumb-state-toggle {
  fill: var(--color-white);
}

.breadcrumb-state-toggle:hover {
  fill: var(--color-white-ffffff99);
}

.breadcrumb-state-toggle:focus {
  fill: var(--color-white);
}

.breadcrumb-state-toggle:active {
  color: var(--color-white-ffffff4d);
}

.filter-buttons {
  margin: 60px auto 20px;
  align-self: center;
}

.results-header {
  display: flex;
  padding: 55px 72px 56px;
}

.result {
  width: 350px;
  margin: 0;
  margin-right: 191px;
}

.select {
  width: 290px;
  margin-right: 78px;
  display: flex;
  align-items: center;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 40px;
  font: inherit;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-E5E5E5);
  border-radius: 4px;
  background-image: url("/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: var(--color-blue-68A2CA);
  outline: none;
}

.select-control:active {
  border-color: var(--color-blue-3F5E72);
  outline: none;
}

.select-control:disabled {
  border-color: var(--color-gray-0000004d);
  outline: none;
}

.results-view-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid var(--color-gray-E5E5E5);
  border-radius: 4px;
}

.button-active {
  border-color: var(--color-black);
}

.results-view-item:hover {
  border: 2px solid var(--color-black);
}

.results-view-item:focus {
  border: 2px solid var(--color-blue-68A2CA);
  outline: none;
}

.results-view-item:active {
  border: 2px solid var(--color-black);
}

.results-icon {
  padding: 17px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1056px;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
  margin-bottom: 96px;
  column-gap: 18px;
}

.hotel-card {
  display: grid;
  grid-template-rows: 211px min-content 21px 37px 37px;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-type,
.hotel-card-details-button {
  grid-column: 1 / 2;
}

.hotel-card-stars {
  grid-column: 1 / 2;
  color: var(--color-blue-83B3D3);
  display: table-cell;
  align-self: center;
}

.hotel-card-price,
.hotel-card-favorite-button,
.hotel-card-selected-button,
.hotel-card-rating {
  grid-column: 2 / 3;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--color-gray-f2f2f2);
  padding: 9px 22px;
  border: none;
  border-radius: 4px;
}

.hotel-card-type,
.hotel-card-price,
.hotel-card-rating {
  color: var(--color-black-333333);
}

.hotel-card-details-button,
.hotel-card-favorite-button,
.hotel-card-selected-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.hotel-card-details-button {
  background-color: var(--color-brown-756157);
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
}

.hotel-card-favorite-button {
  background-color: var(--color-blue-82B3D3);
  border-radius: 4px;
  padding: 9px 15px;
}

.hotel-card-details-button {
  background-color: var(--color-brown-756157);
}

.hotel-card-details-button:hover,
.hotel-card-details-button:focus {
  background-color: var(--color-brown-615048);
}

.hotel-card-details-button:active {
  background-color: var(--color-brown-756157);
  color: var(--color-white-ffffff4d);
}

.hotel-card-details-button:disabled {
  background-color: var(--color-gray-E5E5E5);
}

.hotel-card-favorite-button:hover,
.hotel-card-favorite-button:focus {
  background-color: var(--color-blue-68A2CA);
}

.hotel-card-favorite-button:active {
  background-color: var(--color-blue-82B3D3);
  color: var(--color-white-ffffff4d);
}

.hotel-card-favorite-button:disabled {
  background-color: var(--color-gray-E5E5E5);
}

.hotel-card-selected-button {
  background-color: var(--color-green-7DB54F);
  border-radius: 4px;
  padding: 9px 15px;
}

.hotel-card-selected-button:hover,
.hotel-card-selected-button:focus {
  background-color: var(--color-green-6C9E42);
}

.hotel-card-selected-button:active {
  background-color: var(--color-green-7DB54F);
  color: var(--color-white-ffffff4d);
}

.results-footer {
  position: relative;
  display: flex;
  padding: 0 72px 25px;
  align-items: center;
  justify-content: space-between;
}

.pagination::before {
  position:absolute;
  content: "";
  bottom: 0;
  top: -50%;
  height: 1px;
  width: 1057px;
  background-color: var(--color-gray-E6E6E6);
}

.pagination {
  display: flex;
  width: 400px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
  text-decoration: none;
  background-color: var(--color-blue-82B3D3);
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--color-blue-68A2CA);
  border: 1px solid var(--color-blue-82B3D3);
}

.pagination-link:active {
  background-color: var(--color-blue-82B3D3);
  color: var(--color-white-ffffff4d);
}

.pagination-item:first-child .pagination-link {
  color: var(--color-black);
  background-color: var(--color-gray-f2f2f2);
}

.pagination-item:nth-child(5) .pagination-link {
  padding-left: 21px;
}

.pagination-item:last-child .pagination-link {
  padding-left: 18px;
}

.select-hotel-quantity {
  margin-left: 50px;
  padding: 14px 130px 14px 20px;
}

.hotel-quantity-text {
  color: var(--color-black-333333);
}

.footer-phone {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.footer-phone:hover {
  color: var(--color-brown-756157);
}

.footer-phone:focus {
  color: var(--color-brown-756157);
}

.footer-phone:active {
  color: var(--color-brown-7561574d);
}

.vk-button,
.telegram-button,
.youtube-button {
  color: var(--color-black);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-f2f2f2cc);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: var(--color-white);
  border-radius: 50px;
  box-shadow: 0 25px 50px var(--color-gray-00000026);
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  right: 70px;
  top: 58px;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-gray-f2f2f2);
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: var(--color-gray-E6E6E6);
}

.modal-close-button:focus,
.modal-close-button:focus-visible {
  background-color: var(--color-gray-E6E6E6);
  outline: 3px solid var(--color-blue-83B3D3);
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.modal-field {
  background-color: var(--color-gray-f2f2f2);
  border-radius: 4px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  display: block;
  padding: 5px 19px;
  border: none;
}

.guests-number {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.children {
  margin-left: 40px;
}

.guests-form-field {
  width: 44px;
  appearance: none;
  font-family: inherit;
  font-size: 21px;
  line-height: 40px;
  font-weight: 400;
  padding: 5px 8px;
  border: 0;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-gray-f2f2f2);
}

.adults {
  margin-right: 64px;
}

.field-group-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 11px;
}

label[for='arrival'],
label[for='departure'],
label[for='adults'],
label[for='children']
{
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  text-transform: capitalize;
}

.arrival {
  margin-right: 42px;
}

.departure {
  margin-right: 36px;
}

.search-form-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.field-group-date svg {
  position: absolute;
  opacity: 0.3;
  left: 85%;
}

.search-form-field{
  width: 420px;
  box-sizing: border-box;
  background-color: var(--color-gray-f2f2f2);
  border-radius: 4px;
}

.search-form-field::placeholder {
  font-family: inherit;
}

.search-form-field:hover {
  background-color: var(--color-gray-E6E6E6);
}

.search-form-field:focus {
  outline: 3px solid var(--color-blue-83B3D3);
}

.search-form-field:focus:not(:placeholder-shown) {
  outline: 2px solid var(--color-black);
}

.guests {
  display: flex;
  max-width: 133px;
}

.guests-button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.guests-button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.children-info {
  padding: 13px;
  background-color: var(--color-blue-82B3D3);
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 34px;
  background-image: url("/images/i.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline;
}

.children-info:hover {
  background-color: var(--color-blue-68A2CA);
}

.tooltip-toggle {
  display: none;
}

.tooltip-text {
  position: absolute;
  font-family: inherit;
  top: 425px;
  left: 335px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  background-color: var(--color-black-333333);
  box-sizing: border-box;
  min-width: 256px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px var(--color-gray-0000004d);
}

.tooltip-text::before {
  content: url("/images/triangle.svg");
  position: absolute;
  top: -16px;
  left: 118px;
}

.guests-form-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.guests-form-field::-webkit-inner-spin-button,
.guests-form-field::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.guests-button {
  border: none;
  outline: none;
}

.guests-button svg {
  opacity: 0.3;
}

.guests-button:hover svg {
  opacity: 1;
}

.guests-button:focus,
.guests-button:focus-visible {
  opacity: 1;
  background-image: url("/images/square.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.guests-button:active svg {
  opacity: 0.2;
}

.minus {
  padding: 20px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.guests-button .plus {
  padding: 10px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.comment {
  display: inline-block;
  padding: 0;
  margin-left: 155px;
  margin-bottom: 11px;
}

.error {
  color: var(--color-red-FF5757);
}

.button-search {
  width: 100%;
  background-color: var(--color-blue-83B3D3);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 12px 26px;
}

.button-search:hover {
  background-color: var(--color-blue-68A2CA);
}

.button-search:focus {
  background-color: var(--color-blue-68A2CA);
  outline: 3px solid var(--color-brown-756257);
}
