@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.page-header,
.page-index,
.page-footer {
  text-align: center;
}

.page-catalog {
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.header-sedona-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-list {
  width: 490px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.footer-social {
  display: flex;
}

.social {
  width: 142px;
  margin-left: 70px;
  margin-right: 237px;
}

.footer-html-academy-logo {
  width: 115px;
  margin-left: auto;
  margin-right: 70px;
}


.page-index {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.heading-2-black {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-2-description-black {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-item-first,
.advantages-item-second {
  background-color: #82B3D3;
}

.advantages-item-housing,
.advantages-item-souvenirs,
.advantages-item-third,
.advantages-item-fifth {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item-housing {
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.advantages-item-food {
  background-color: #FFFFFF;
  background-image: url("../images/food.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.advantages-item-gift {
  background-image: url("../images/gift.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
}

.advantages-title-white {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-order-white,
.advantages-description-white {
  color: #FFFFFF;
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.subscribe-main {
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.heading-2-white {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-2-description-white {
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.button {
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.search-button {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.catalog-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-header-title {
  background-color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}

.catalog-filter {
  display: flex;
}

.infrastructure {
  width: 150px;
  margin-left: 70px;
  margin-right: 70px;
}

.housing-type {
  width: 145px;
  margin-right: 175px;
}

.cost {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-title {
  background-color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: #82B3D3;
}

.button-nonecase {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: #000000;
}

.results-header {
  display: flex;
}

.result {
  width: 350px;
  margin-left: 72px;
  margin-right: 191px;
}

.select-control {
  width: 290px;
  margin-right: 78px;
}

.results-view {
  width: 160px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.hotel-card-details-button,
.hotel-card-favorite-button,
.hotel-card-selected-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.hotel-card-details-button {
  background-color: #756157;
}

.hotel-card-favorite-button {
  background-color: #82B3D3;
}

.hotel-card-selected-button {
  background-color: #7DB54F;
}

.results-footer {
  display: flex;
}

.pagination {
  display: flex;
  width: 400px;
  margin-left: 73px;
  margin-right: 270px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  background-color: #82B3D3;
}

.hotel-quantity-text {
  color: #333333;
}

.heading-2-description-f3 {
  color: #333333;
}

.footer-phone {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.vk-button,
.telegram-button,
.youtube-button {
  color: #000000;
}
