@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

.page-header,
.page-index,
.page-footer
{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.page-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.page-index {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.heading-2-black {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-2-description-black {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-first,
.advantages-item-second{
  background-color: #82B3D3;
}

.advantages-item-housing,
.advantages-item-souvenirs,
.advantages-item-third,
.advantages-item-fifth {
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item-housing{
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
}

.advantages-item-food{
  background-color: #FFFFFF;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
}

.advantages-item-gift {
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
}

.advantages-title-white {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-order-white,
.advantages-description-white {
  color: #FFFFFF;
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-button-text {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-main {
  background-image: url("../images/footer-background.jpg");
  background-repeat: no-repeat;
}

.heading-2-white {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-2-description-white {
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.catalog-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.catalog-header-title {
  background-color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}

.catalog-filter-title {
  background-color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  background-color: #000000;
}

.apply-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

.button-nonecase {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: #000000;
  text-align: center;
}

.hotel-card-title {
  text-decoration: none; /*не убирает подчеркивание??!*/
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.hotel-card-details-button,
.hotel-card-favorite-button,
.hotel-card-selected-button {
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: inherit;
text-decoration: none;
}

.hotel-card-details-button {
  background-color: #756157;
}

.hotel-card-favorite-button {
  background-color: #82B3D3;
}

.hotel-card-selected-button {
  background-color: #7DB54F;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  background-color: #82B3D3;
}

.hotel-quantity-text {
  color: #333333;
}

.heading-2-description-f3 {
  color: #333333;
}
